extends layout

block content
    body
        header
            h2
                em Space Junk Diner
        p Welcome to our website where you can catch a glimpse of our space themed food!
        footer
            em Website by Benito Luna, Dakota Miller, Cody Watts